@import './variable.scss';

.about {
  $img: url('../../static/wall.jpg') no-repeat fixed center;

  flex-direction: column;
  font-size: $lgFont;
  h1, h2 {
    font-size: $lgFont * 3;
    display: inline;
    align-items: center;
    margin: 0 2%;
  }
  h2 {
    font-size: $lgFont * 2;
  }
  span {
    margin-top: $lgFont;
  }
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    background: $img;
    background-size: cover;
    background-origin: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.8);


    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: $img;
      background-size: cover;
      opacity: .1;
      filter: brightness(.5);
    }
    &:after {
      content: "";
      position: absolute;
      width: 200%;
      height: $lgFont * 3.5;
      background: white;
      opacity: .2;
      transform: rotateZ(25deg);
    }
  }
}