@import './variable.scss';

.hello {
  $img: url('../../static/mac.jpg') no-repeat fixed center;

  flex-direction: column;
  font-size: $lgFont;

  //background: $img;
  //background-size: cover;
  //background-origin: border-box;
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  filter: brightness(1.2);

  h1 {
    font-size: $lgFont * 3;
    display: inline;
    align-items: center;
    margin: 0 2%;
  }
  span {
    margin: $smFont auto;
  }

  &:before {
    background: $img;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: $lgFont * 3.5;
    background: white;
    opacity: .2;
  }
}