@import "variable";

//TODO: 调整尺寸和高度

.loading {
  width: 80%;
  position: relative;
  $h: $sectord;
  user-select: none;

  .bar {
    position: relative;
    width: 100%;
    height: $h;
    //top: 50%;
    margin: $sectorD / 2 - $h / 2 + $borderWeightLight 0;

    //margin: -$h/2-$borderWeightLight $sectorD/2;
    border-radius: $h / 2;
    border: $borderWeightLight solid $borderColor;
    box-shadow:
            $shadow $dark inset,
            0 0 $h*3.5 currentColor inset
            ;
    overflow: hidden;
    background: white;

    .empty {
      position: absolute;
      height: 100%;
      border-radius: 2px;
      right: 0;
      background-color: currentColor;
    }
  }

  .sector {
    user-select: none;
    cursor: move;
    position: absolute;
    top: 0;
    margin-left: -$sectorD / 2;
    transition: color .2s;
    box-shadow: $shadow $dark;
  }

  .pressed {
    color: white !important;
  }

}
